$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

@mixin xs-breakpoint {
	@media only screen and (max-width: $xsBreakpoint){
		@content
	}
}

@mixin sm-breakpoint {
	@media only screen and (min-width: $smBreakpoint){
		@content
	}
}

@mixin md-breakpoint {
	@media only screen and (min-width: $mdBreakpoint){
		@content
	}
}
	
@mixin lg-breakpoint {
	@media only screen and (min-width: $lgBreakpoint){
		@content
	}
}
	
@mixin xl-breakpoint {
	@media only screen and (min-width: $xlBreakpoint){
		@content
	}
}

@include xs-breakpoint {
	.contentWidth{
		width: 90%;
	}
	.articleWidth{
		width: 90%;
	}
	.listMoreWork, .listMorePage{
		flex-flow: column nowrap;
	
		&-item{
			width: 100%;
		}
	}
	.nav{
		display: none;
	}
}

@include xl-breakpoint {
	.contentWidth{
		width: 80%;
	}
	.articleWidth{
		width: 65%;
	}
	.tabsContent{
		width: 80%;	
	}
}
