.link{
	&--linkOut{
		display: inline-block;
		background-color: var(--cyan-500);
		color: white;
		font-size: var(--font-small);
		padding: 0.25rem 0.5rem;
		margin-left: 0.5rem;
		border-radius: 1.5rem;
		text-decoration: none;
	}
	&--pageLinkOut{
		display: inline-block;
		background-color: white;
		font-size: var(--font--medium);
		font-weight: 500;
		padding: 0.5rem 1rem;
		border-radius: 1.5rem;
		text-decoration: none;
		transition: background 0.5s ease-in-out;
		box-sizing: border-box;
	}
	&--pageLinkOutBottom{
		display: inline-block;
		font-size: var(--font--medium);
		font-weight: 500;
		padding: 0.5rem 1rem;
		border-radius: 1.5rem;
		text-decoration: none;
		transition: background 0.5s ease-in-out;
		box-sizing: border-box;
		
	}
	&--pageLinkOutEva{
		color: var(--green-eva);

		&:hover{
			background-color: var(--green-eva);
			color: white;
			outline: white 1px solid;
			outline-offset: -1px;
		}
	}
	&--pageLinkOutFhtrust{
		color: var(--red-fhtrust);

		&:hover{
			background-color: var(--red-fhtrust);
			color: white;
			outline: white 1px solid;
			outline-offset: -1px;
		}
	}
	&--pageLinkOutEvaBottom{
		color: white;
		background-color: var(--green-eva);

		&:hover{
			background-color: white;
			color: var(--green-eva);
			outline:  var(--green-eva) 1px solid;
			outline-offset: -1px;
		}
	}
	&--pageLinkOutFhtrustBottom{
		color: white;
		background-color: var(--red-fhtrust);

		&:hover{
			background-color: white;
			color: var(--red-fhtrust);
			outline:  var(--red-fhtrust) 1px solid;
			outline-offset: -1px;
		}
	}
	&--morePage{
		width: 100%;
		height: 100%;
		display: block;
		color: var(--gray-900);
		font-size: var(--font-medium);
		font-weight: 500;
		text-decoration: none;
	}
	&--works{
		color: var(--gray-900);
	}
	&--works:hover{
		text-decoration: underline;
	}
}