.header{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
	&-eva{
		background-color: var(--green-eva);
	}
}
.nav{
	&-item{
		color: var(--gray-900);
		text-decoration: none;
	}
	&-page{
		color:white;
	}
}