.header{
	&--index{
		height: 5rem;
		position: relative;
		padding-top: 2rem;
		margin-left: auto;
		margin-right: auto;
	}
	&--page{
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
	&--eva{
		background-color: var(--green-eva);
	}
	&--fhtrust{
		background-color: var(--red-fhtrust);
	}
	&--esun{
		background-color: var(--green-esun);
	}
	&--udn{
		background-color: var(--orange-udn);
	}
}
