.contentWidth{
	width: 85%;
}
.articleWidth{
	width: 70%;
}
.avatar{
	width: 100%;
	display: flex;
	justify-content: center;
}
.avatarImg{
	width: 10rem;
	height: 10rem;
	position: relative;
	background: url(../images/Avatar.svg) no-repeat 0 0;
	background-size: 100%;

	&::before,&::after{
		position: absolute;
		left: 105%;
	}

	&::before{
		content: "Hi \A I'm 07";
		width: 6.2rem;
		height: 6.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: white;
		font-size: var(--font-large);
		text-align: center;
		white-space: pre;
		border-radius: 50%;
	}
	&::after{
		content: '';
		width: 0;
		height: 0;
		top: 50%;
		border: 0.6rem solid transparent;
		border-top: 1rem solid black;
		border-bottom: 0;
		transform: rotate(45deg);
	}
}
.info{
	position: relative;
	margin: 0 auto;

	&::before, &::after{
		content: '';
		width: 51%;
		display: block;
		position: absolute;
		border: 0.125rem solid var(--gray-900);
		border-right: 0;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
		z-index: -1;
	}
	&::before{
		height: calc(100% - 5rem);
		top: 5rem;
		left: 0;
	}
	&::after{
		height: calc(100% - 8rem);
		top: 8rem;
		right: 0;
		transform: rotate(180deg);
	}
}
.infoContent{
	width: 83%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0 auto;
}
.timeline{
	&-item{
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 0.5rem;
		list-style: none;
	}
	&-item::before{
		content:'';
		width: 0.4rem;
		height: 0.4rem;
		display: inline-block;
		background-color: var(--cyan-500);
		border-radius: 50%;
		margin-top: 0.5rem;
		margin-right: 0.5rem;
	}
}
.works{
	margin: 0 auto;

}
.listWorks{
	&-item{
		margin-bottom: 4rem;
	}
}
.listMoreWork{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 auto;

	&-item{
		width: 32%;
		margin-bottom: 1.5rem;
	}
}
.listMorePage{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	&-item{
		width: 48%;
		margin-bottom: 2rem;
	}
}
.main{
	&-page{
		padding-top: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
}
.title{
	&-listMorePage{
		font-weight: 400;
	}
}