.nav{
	position: absolute;
	right: 0;
	top: 6rem;
	display: flex;
	flex-flow: row nowrap;

	&-item{
		display: inline-block;
		margin-right: 1rem;
	}

	&-page{
		width: 100%;
		color:white;
		text-align: right;
	}
}