.tabs{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem 0;
	z-index: 10;

	&-button{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: var(--font-medium);
		font-weight: 500;
		opacity: .5;
		transition: opacity	0.5s ease-in-out;
	}
	&-button::before{
		content:'';
		width: 2rem;
		height: 2rem;
		display: block;
	}
	&-button--desktop::before{
		background: url(../images/icon-desktop.svg) no-repeat 0 0;
		background-size: 100%;
	}
	&-button--mobile::before{
		background: url(../images/icon-mobile.svg) no-repeat 0 0;
		background-size: 100%;
	}
	&-button.active{
		opacity: 1;
	}
}
.tabsContent{
	width: 90%;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;

	&-item{
		width: 100%;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 6.5rem;
		z-index: 0;
	}
	&-item:nth-child(2){
		.img{
			max-width: 22.5rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
}