@import 'reset';
@import 'var';
@import 'base';
@import 'typography';
@import 'spacing';
@import 'buttonLink'; 
@import 'layout';
@import 'nav';
@import 'img';
@import 'article';
@import 'tab';
@import 'header';
@import 'lightbox';
@import 'breakpoint';

html, body{
	position: relative;
	font-size: 16px;
}
html{
	// scroll-behavior: smooth;
}

body{
	font-family: 'Noto Sans TC','Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
.hidden{
	overflow-y: hidden;
}
#wrap{
	width: 100%;
	margin:0 auto;
}